apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
platform:
  aws:
    region: {{ foundry_region }}
    subnets: {{ foundry_private_subnets }}
networking:
  machineNetwork:
  - cidr: {{ foundry_vault_vpc_cidr | default('10.1.0.0/16') }}
publish: Internal
pullSecret: '{{ ignition_pull_secret_data }}'
sshKey: |
  {{ ignition_ssh_key_data }}
{% if ignition_mirror_registry_url_resolved | default('') | length > 0 %}
imageContentSources:
- mirrors:
  - {{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% set _trust_bundle = (mirror_registry_additional_trust_bundle['value'] if (mirror_registry_additional_trust_bundle is mapping and (mirror_registry_additional_trust_bundle | default({})).get('value') is defined) else (mirror_registry_additional_trust_bundle | default(''))) | trim %}
{% if _trust_bundle | length > 0 %}
additionalTrustBundle: |
{{ _trust_bundle | indent(2) }}
{% endif %}
{% endif %}
controlPlane:
  name: master
  replicas: {{ master_count }}
  platform:
    aws:
      type: {{ master_instance_type }}
compute:
  - name: worker
    replicas: {{ worker_count }}
    platform:
      aws:
        type: {{ worker_instance_type }}
