apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
platform:
  aws:
    region: {{ foundry_region }}
    subnets: {{ foundry_private_subnets }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ foundry_vault_vpc_cidr | default('10.1.0.0/16') }}
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
publish: Internal
pullSecret: |-
{{ ignition_pull_secret_data | trim | indent(2, true) }}
sshKey: |
{{ ignition_ssh_key_data | indent(2, true) }}
{% if ignition_mirror_registry_url_resolved | default('') | length > 0 %}
{% if mirror_registry_use_image_digest_sources | default(true) | bool %}
imageDigestSources:
  - mirrors:
      - "{{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}"
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
      - "{{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}"
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% for item in mirror_registry_extra_image_content_sources | default([]) %}
  - mirrors:
{% for m in item.mirrors %}
      - "{{ m }}"
{% endfor %}
    source: {{ item.source }}
{% endfor %}
{% else %}
imageContentSources:
  - mirrors:
      - "{{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}"
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
      - "{{ ignition_mirror_registry_url_resolved }}/{{ mirror_registry_release_path | default('openshift/release') }}"
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
{% for item in mirror_registry_extra_image_content_sources | default([]) %}
  - mirrors:
{% for m in item.mirrors %}
      - "{{ m }}"
{% endfor %}
    source: {{ item.source }}
{% endfor %}
{% endif %}
{% set _trust_bundle = (mirror_registry_additional_trust_bundle['value'] if (mirror_registry_additional_trust_bundle is mapping and (mirror_registry_additional_trust_bundle | default({})).get('value') is defined) else (mirror_registry_additional_trust_bundle | default(''))) | trim %}
{% if _trust_bundle | length > 0 %}
additionalTrustBundle: |
{{ _trust_bundle | indent(2, true) }}
{% endif %}
{% endif %}
controlPlane:
  name: master
  replicas: {{ master_count }}
  platform:
    aws:
      type: {{ master_instance_type }}
{# UPI: compute replicas 0 per openshift-install AWS docs; Forge provisions workers via worker.ign (worker_count). #}
compute:
  - name: worker
    replicas: 0
    platform:
      aws:
        type: {{ worker_instance_type }}
